#pie-chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

#chart {
    max-width: 730px;
    margin: 10px auto;
}

#area-chart {
    max-width: 1500px;
    margin: 35px auto;
}
.myDropDown {
    height: 326px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.myDropDown::-webkit-scrollbar {
    display: none;
  }