<nav class="topnavbar d-flex align-items-center justify-content-between">
    <h4 class="primary mb-0 fs-26 fw-600">Address Officer</h4>
    <app-profile-bar></app-profile-bar>
</nav>
<div class="main_content">

    <div class="table_container">
        <div class="d-flex Officer_table justify-content-between align-items-center">
            <div class="d-flex">
                <h4 class="fs-18 fw-500 primary mb-0">Recent Officers</h4>
                <span class="Officer  mx-0 ms-2 fs-12 fw-400 primary">100 officers</span>
            </div>
            <button (click)="clearData()" class="add_officer white fs-12 fw-500" data-bs-target="#addofficer"
                data-bs-toggle="modal">+ Add Officer</button>
        </div>
        <div style="overflow-x:auto;">
            <table class="table mb-0 admin-table"  id="dtHorizontalExample" cellspacing="0"
            width="100%">
                <thead style="background:#EDF9FB;">
                    <tr class="table_heading">
                        <th scope="col" class="fs-14 fw-500 theading">Name</th>
                        <th scope="col" class="fs-14 fw-500 theading">Email address</th>
                        <th scope="col" class="fs-14 fw-500 theading">Password</th>
                        <th scope="col" class="fs-14 fw-500 theading">User ID</th>
                        <th scope="col" class="fs-14 fw-500 theading">Action</th>
                        <th scope="col" class="fs-14 fw-500 theading">Status <img
                                src="assets/images/temp_img/down-arrow.png"></th>
                    </tr>
                </thead>
                <tbody class="bg_light">
                    <tr  *ngFor="let officer of addressOfficers">
                        <td class="d-flex align-items-center">
                            <img [src]="officer.profilePicture" class="address_icon">
                            <h5 class="fs-14 fw-400 black mb-0 mx-0 ms-2">{{officer.firstName +" "+officer.lastName}}</h5>
                        </td>
                        <td class="fs-14 fw-400 theading">{{officer.email}}</td>
                        <td class="fs-14 fw-400 theading " >{{ isPasswordVisible(officer.password)?officer.password:"********" }} <i
                              [ngClass]=" isPasswordVisible(officer.password)?'fi fi-ss-eye mx-0 ms-1':'fi fi-ss-eye-crossed mx-0 ms-1'" (click)="togglePasswordVisibility(officer.password)" ></i></td>
                        <td class="fs-14 fw-400 theading">{{officer.userName}}</td>
                        <td>
                            <i class="fi fi-br-trash add_icons danger" (click)="setDeleteData(officer.userId)" data-bs-target="#delete-modal"
                                data-bs-toggle="modal"></i>
                            <i class="fi fi-sr-pencil add_icons theading" (click)="getOfficerById(officer.userId)" data-bs-target="#EditProfile"
                                data-bs-toggle="modal"></i>
                            <a [routerLink]="'/verify/address-officer-details/'+officer.userId"><i
                                    class="fi fi-br-search-alt add_icons theading "></i></a>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button *ngIf="!officer.isActive"
                                    class="Officer bg_grey grey2 gap_6 dropdown-toggle fs-14 fw-500 primary p_6"
                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Deactivate
                                    <i class="fi fi-sr-angle-small-down lh-0"></i>
                                </button>
                                <button  *ngIf="officer.isActive" class="Officer gap_6 dropdown-toggle fs-14 fw-500 primary p_6"
                                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Active
                                <i class="fi fi-sr-angle-small-down lh-0"></i>
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a (click)="updateOfficerStatus(officer.userId,true)" class="dropdown-item">Active</a></li>
                                    <li><a (click)="updateOfficerStatus(officer.userId,false)" class="dropdown-item" >Deactivate</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
        
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="table-pagination">
                <p class="text_dark fs-16 fw-600">Showing 1 to 1 of 1 entries</p>
                <ul class="pagination">
                    <li class="p-2  mx-2 ms-0"><a class="fs-16 fw-500 secondary" href="#">Previous</a></li>
                    <li class="page-item "><a class="page-link text_orange" href="#">1</a>
                    </li>
                    <li class="page-item "><a class="page-link" href="">2</a></li>
                    <li class="page-item "><a class="page-link" href="">3</a></li>
                    <li class="page-item "><a class="page-link" href="">4</a></li>
                    <li class="page-item "><a class="page-link" href="">5</a></li>
                    <li class="p-2  mx-0 ms-2"><a class="fs-16 fw-500 secondary" href="">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<!-- Add Officer MODAL -->
<div class="modal fade" id="addofficer" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 justify-content-center">
                <div>
                    <h1 class="fs-22 fw-600 text_small mb-20" id="exampleModalToggleLabel2">Add Officer profile
                    </h1>
                    <div class="mb-4 position-relative  d-flex justify-content-center">

                        <input id="file1" type="file" (change)="setImage($event)"   class="d-none">
                        <img class="modal_profile" id="output1" [src]="imagePreview" >
                        <label class="-label" for="file1">
                            <a
                                class="secondary fs-16 fw-500  edit_img d-flex justify-content-center align-items-center">
                                <i class="fi fi-sr-pencil white lh-0 fs-12"></i>
                            </a>
                        </label>
                        
                    </div>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="mb-4">
                    <div class="">
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <label for="" class="black fs-15 fw-400 mb-2">First Name</label>
                            <input type="text" class="form-control profile_input" [(ngModel)]="addressOfficer.firstName" name="firstName" placeholder="Vijay">
                            
                        </div>
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <label for="" class="black fs-15 fw-400 mb-2">Last Name</label>
                            <input type="text" class="form-control profile_input"   [(ngModel)]="addressOfficer.lastName" name="lastName" placeholder="Hencha">
                        </div>
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <label for="" class="black fs-15 fw-400 mb-2">User ID</label>
                            <input type="text" class="form-control profile_input"   [(ngModel)]="addressOfficer.userName" name="userName" placeholder="@hgfghf">
                        </div>
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <label for="" class="black fs-15 fw-400 mb-2">Phone Number</label>
                            <input type="text" class="form-control profile_input"  [(ngModel)]="addressOfficer.phoneNumber" name="phoneNumber" placeholder="9126372748">
                        </div>
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <label for="" class="black fs-15 fw-400 mb-2">Email Address</label>
                            <input type="email" class="form-control profile_input"
                                 [(ngModel)]="addressOfficer.email" name="email" placeholder="vijayhencha@gmail.com">
                        </div>
                        <div class="position-relative">
                            <label for="" class="black fs-15 fw-400 mb-2">Password</label>

                            <input type="text" #i1  class="form-control  profile_input"  [(ngModel)]="addressOfficer.password" name="password" placeholder="Confirm Password">
                            <i (click)="changePasswordIcon(i1)" [ngClass]="i1.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-0">
                <div class="gap_20 d-flex">
                    <button class="btn_lg2 fs-16 fw-500 br_10" data-bs-dismiss="modal" id="cancel1" 
                        aria-label="Close">Cancel</button>
                    <button class="btn_lg fs-16 fw-500 br_10" (click)="addOfficer('cancel1')">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Officer MODAL END -->


<!-- Edit Profile MODAL -->
<div class="modal fade" id="EditProfile" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header p-0 justify-content-center">
            <div>
                <h1 class="fs-22 fw-600 text_small mb-20" id="exampleModalToggleLabel2">Edit Officer profile
                </h1>
                <div class="mb-4 position-relative  d-flex justify-content-center">

                    <input id="file2" type="file" (change)="setImage($event)" class="d-none">
                    <img class="modal_profile" id="output1" [src]="imagePreview">
                    <label class="-label" for="file2">
                        <a
                            class="secondary fs-16 fw-500  edit_img d-flex justify-content-center align-items-center">
                            <i class="fi fi-sr-pencil white lh-0 fs-12"></i>
                        </a>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-body p-0">
            <div class="mb-4">
                <div class="">
                    <div class="col-md-12 mb-3 ps-0 px-2">
                        <label for="" class="black fs-15 fw-400 mb-2">First Name</label>
                        <input type="text" class="form-control profile_input"  [(ngModel)]="addressOfficer.firstName" name="firstName" placeholder="Vijay">
                    </div>
                    <div class="col-md-12 mb-3 ps-0 px-2">
                        <label for="" class="black fs-15 fw-400 mb-2">Last Name</label>
                        <input type="text" class="form-control profile_input" [(ngModel)]="addressOfficer.lastName" name="lastName" placeholder="Hencha">
                    </div>
                    <div class="col-md-12 mb-3 ps-0 px-2">
                        <label for="" class="black fs-15 fw-400 mb-2">User ID</label>
                        <input type="text" class="form-control profile_input" [(ngModel)]="addressOfficer.userName" name="userName" placeholder="@hgfghf">
                    </div>
                    <div class="col-md-12 mb-3 ps-0 px-2">
                        <label for="" class="black fs-15 fw-400 mb-2">Email Address</label>
                        <input type="email" class="form-control profile_input"
                            [(ngModel)]="addressOfficer.email" name="email" placeholder="vijayhencha@gmail.com">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-0">
            <div class="gap_20 d-flex">
                <button class="btn_lg2 fs-16 fw-500 br_10" data-bs-dismiss="modal"  id="cancel" 
                    aria-label="Close">Cancel</button>
                <button class="btn_lg fs-16 fw-500 br_10" (click)="updateOfficer('cancel')">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Edit Profile MODAL END -->


<!-- DELETE MODAL -->
<div class="modal fade" id="delete-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header p-0 justify-content-center">
            <div class="mb-4">
                <div class="d-flex justify-content-center mb-4">
                    <img class="assign_icon" src="assets/images/svg_img/delete.svg" height="80" width="80">
                </div>
                <h1 class="fs-22 fw-600 text_small mb_12 text-center" id="exampleModalToggleLabel2">Delete
                    Verification Officer</h1>
                <h3 class="fs-16 fw-400 info mb-0 mb-4 text-center">Are you sure you want to delete this
                    verification officer's profile? This action is irreversible.</h3>
            </div>
        </div>

        <div class="modal-footer p-0 justify-content-center">
            <div class="gap_20 d-flex">
                <button class="btn_lg2 fs-16 fw-500 br_12" data-bs-dismiss="modal"
                    aria-label="Close" (click)="clearDeleteData()">Cancel</button>
                <button class="btn_lg fs-16 fw-500 br_12" data-bs-dismiss="modal" (click)="deleteOfficer()">Delete</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- DELETE MODAL END -->
