 <!-- top-navbar -->
    <div class="right-admin-profile d-flex align-items-center">

        <div class="d-flex align-items-center">
            <a routerLink="/verify/notifications" class="mx_20 ms-0"><img src="assets/images/svg_img/notification.svg"></a>

            <div class="dropdown position-relative" *ngIf="officer">
                <a class="fs-16 fw-500 black dropdown-toggle d-flex align-items-center" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="true">
                    <img class="profile_img" [src]="officer.profilePicture">
                    {{officer.firstName +" "+officer.lastName}}
                    <i class="fi fi-sr-angle-small-down lh-0 mt-1 mx-0 ms-1"></i>
                </a>
                <ul class="dropdown-menu profiles_dropdown" aria-labelledby="dropdownMenuLink"
                    data-popper-placement="bottom-end">
                    <div class="mb-4">
                        <li class="profile_dropdown fs-16 fw-500 black"><img class="profile_img"
                            [src]="officer.profilePicture">{{officer.firstName +" "+officer.lastName}}</li>
                    </div>
                    <li class="profile_card fs-15 fw-500 text_small" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">
                        <img class="profile_icon" src="assets/images/svg_img/profile.svg">
                        View Profile
                        <div class="mb-0 lh-0 mx-0 ms-auto p-0"><img src="assets/images/svg_img/arrow.svg">
                        </div>

                    </li>
                    <li (click)="clearData()" class="profile_card fs-15 fw-500 text_small" data-bs-target="#exampleModalToggle4"
                        data-bs-toggle="modal">
                        <img class="profile_icon" src="assets/images/svg_img/password.svg">
                        Change Password
                        <div class="mb-0 lh-0 mx-0 ms-auto p-0">
                            <img src="assets/images/svg_img/arrow.svg">
                        </div>
                    </li>
                    <li class="profile_card fs-15 fw-500 danger bg_danger"
                        data-bs-target="#exampleModalToggle5" data-bs-toggle="modal">
                        <img class="profile_icon bg_info" src="assets/images/svg_img/logout.svg">Logout
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- top-navbar end -->
<!-- PROFILE MODAL -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered profile_modal">
    <div class="modal-content">
        <div class="modal-header p-0">
            <h1 class="modal-title fs-22 fw-600 text_small mb-3" id="exampleModalToggleLabel2">View Profile</h1>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body p-0" *ngIf="officer">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <img class="modal_profile" [src]="officer.profilePicture">
                <button class="edit_btn fs-16 f-500" data-bs-target="#exampleModalToggle3"
                    data-bs-toggle="modal" (click)="clearData()">
                    <i class="fi fi-sr-pencil fs-12 mx-2 ms-0"></i>Edit
                </button>
            </div>
        </div>
        <div class="modal-footer p-0" *ngIf="officer">
            <div class="row">
                <div class="col-md-6 mb-3 ps-0 px-2">
                    <label for="" class="black fs-15 fw-400 mb-2">First Name</label>
                    <input type="text" class="form-control profile_input" [placeholder]="officer.firstName" disabled>
                </div>
                <div class="col-md-6 mb-3 ps-2 px-0">
                    <label for="" class="black fs-15 fw-400 mb-2">Last Name</label>
                    <input type="text" class="form-control profile_input" [placeholder]="officer.lastName" disabled>
                </div>
                <div class="col-md-6 mb-3 ps-0 px-2">
                    <label for="" class="black fs-15 fw-400 mb-2">Email Address</label>
                    <input type="text" class="form-control profile_input" [placeholder]="officer.email" disabled>
                </div>
                <div class="col-md-6 mb-3 ps-2 px-0">
                    <label for="" class="black fs-15 fw-400 mb-2">Phone Number</label>
                    <input type="text" class="form-control profile_input" [placeholder]="officer.phoneNumber" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- PROFILE MODAL END -->

<!-- PROFILE EDIT MODAL -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered profile_modal">
    <div class="modal-content">
        <div class="modal-header p-0">
            <h1 class="modal-title fs-22 fw-600 text_small mb-3" id="exampleModalToggleLabel2">Edit Profile</h1>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body p-0">
            <div class="d-flex  align-items-center mb-4">

                <input id="file" type="file" (change)="setImage($event)" class="d-none">
                <img class="modal_profile" id="output"  [src]="imagePreview">
                <label class="-label" for="file">
                    <a class="secondary fs-16 fw-500 mx-0 ms-4 change_img d-flex">
                        <img class="mx-2 ms-0" src="assets/images/svg_img/album.svg">Change Image
                    </a>
                </label>
            </div>
        </div>
        <div class="modal-footer p-0">
            <form [formGroup]="editForm" >
            <div class="row">
             
                <div class="col-md-6 mb-3 ps-0 px-2">
                    <label for="" class="black fs-15 fw-400 mb-2">First Name</label>
                    <input type="text" class="form-control profile_input" [placeholder]="updateOffier.firstName" formControlName="firstName" [(ngModel)]="updateOffier.firstName" name="firstName">
                    <span class="text-danger"
                       *ngIf="(editForm.get('firstName')?.touched ) && editForm.get('firstName')?.hasError('required')">
                       First Name Is Required.
                    </span>
                </div>
                <div class="col-md-6 mb-3 ps-2 px-0">
                    <label for="" class="black fs-15 fw-400 mb-2">Last Name</label>
                    <input type="text" class="form-control profile_input" [placeholder]="updateOffier.lastName"  formControlName="lastName" [(ngModel)]="updateOffier.lastName"  name="lastName">
                    <span class="text-danger"
                    *ngIf="(editForm.get('lastName')?.touched ) && editForm.get('lastName')?.hasError('required')">
                    Last Name Is Required.
                 </span>
                </div>
                <div class="col-md-6 mb-3 ps-0 px-2">
                    <label for="" class="black fs-15 fw-400 mb-2">Email Address</label>
                    <input type="email" class="form-control profile_input disableCursor" [placeholder]="updateOffier.email"  disabled name="email">
                    
                </div>
                <div class="col-md-6 mb-3 ps-2 px-0">
                    <label for="" class="black fs-15 fw-400 mb-2">Phone Number</label>
                    <input type="text" class="form-control profile_input disableCursor " [placeholder]="updateOffier.phoneNumber" disabled name="phoneNumber">
                
                </div>
            
            </div>
            <div class="gap_20 d-flex justify-content-end">
                <button class="btn_secondary fs-16 fw-500" data-bs-dismiss="modal" id="profileBarCancel"
                aria-label="Close" >Cancel</button>
                <button class="btn_primary fs-16 fw-500" (click)="updatePortalOfficer('profileBarCancel')" onclick="myFunction()">Save changes</button>
                
        </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- PROFILE EDIT MODAL END -->

<!-- CHANGE PASSWORD MODAL -->
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header p-0">
            <div>
                <h1 class="fs-22 fw-600 text_small mb_10" id="exampleModalToggleLabel2">Change
                    password</h1>
                <h3 class="fs-16 fw-500 info mb-0">Set a new login password for your account</h3>
            </div>
            <button type="button"  id="closeBtn" class="btn_close fs-20" data-bs-dismiss="modal" aria-label="Close">
                <i class="fi fi-rr-cross-small lh-0"></i>
            </button>
        </div>
        <div class="modal-body p-0">
            <div class="mb-4 mt-4">
                <div class="col-md-12 mb-3 ps-0 px-2">
                    <div class="position-relative">
                        <i class="fi fi-br-lock lock_icon"></i>
                        <input #i1 type="text" class="form-control password_input" placeholder="Current Password" [(ngModel)]="changePasswordRequest.currentPassword">
                        <i [ngClass]="i1.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'" (click)="changePasswordIcon(i1)" ></i>
                    </div>
                </div>
                <div class="col-md-12 mb-3 ps-0 px-2">
                    <div class="position-relative">
                        <i class="fi fi-br-lock lock_icon"></i>
                        <input #i2 type="text" class="form-control password_input" placeholder="New Password" [(ngModel)]="changePasswordRequest.newPassword">
                        <i [ngClass]="i2.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'" (click)="changePasswordIcon(i2)" ></i>
                    </div>
                </div>
                <div class="col-md-12 ps-0 px-2">
                    <div class="position-relative">
                        <i class="fi fi-br-lock lock_icon"></i>
                        <input #i3 type="text" class="form-control password_input" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
                        <i [ngClass]="i3.type==='text'?'fi fi-rr-eye eye_icon':'fi fi-rr-eye-crossed eye_icon'" (click)="changePasswordIcon(i3)" ></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-0">
            <button  class="btn_primary fs-16 fw-500 w-100 m-0" (click)="changePassord('closeBtn')">Save Password</button>
        </div>
    </div>
</div>
</div>
<!-- CHANGE PASSWORD MODAL END -->

<!-- LOGOUT MODAL -->
<div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header p-0 justify-content-center">
            <div class="mb-4">
                <h1 class="fs-22 fw-600 text_small mb_10 text-center"  id="exampleModalToggleLabel2">Logout
                    Verification</h1>
                <h3 class="fs-16 fw-400 info mb-0">Are you sure you want to logout this verification ?</h3>
            </div>
        </div>

        <div class="modal-footer p-0 justify-content-center">
            <div class="gap_20 d-flex">
                <button class="btn_lg2 fs-16 fw-500" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn_lg fs-16 fw-500" data-bs-dismiss="modal"  (click)="logOut()">Logout</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- LOGOUT MODAL END -->

<!-- The actual snackbar -->
<!-- <div id="success" class="black"><i class="fi fi-br-check mx-3 ms-0 lh-0"></i>Success <span class="fs-15 fw-400 dark2 mx-0 ms-3">{{toastMessage}}</span></div>
<div id="error" class="black"><img src="assets/images/svg_img/error.svg" class="mx-3 ms-0 lh-0"> Error <span class="fs-15 fw-400 mx-0 ms-3">{{toastMessage}}</span></div>
 -->
