<nav class="topnavbar d-flex align-items-center justify-content-between p_40">
    <div class="d-flex align-items-center">
        <a routerLink="/verify/request-details/{{requestId}}" class="back_arrow mx_20 "><img
                src="assets/images/svg_img/back_arrow.svg" class="img-fluid"></a>
        <h4 class="primary mb-0 fs-26 fw-600">Re-Assign Officer</h4>
    </div>
    <app-profile-bar></app-profile-bar>
</nav>


<div class="main_content p_36">
    <div class="container">
        <div class="col-md-6">
            <div class="position-relative mb_20">
                <i class="fi fi-br-search search_icon"></i>
                <input type="search" class="search w-100 fs-16 fw-500" placeholder="search...">
            </div>

        </div>
        <div class="table_container">
            <table class="table mb-0 admin-table">
                <thead style="background:#EDF9FB;">
                    <tr class="table_heading">
                        <th scope="col" class="fs-14 fw-500 theading">Name</th>
                        <th scope="col" class="fs-14 fw-500 theading">Email address</th>
                        <th scope="col" class="fs-14 fw-500 theading">User ID</th>
                        <th scope="col" class="fs-14 fw-500 theading">Action</th>
                    </tr>
                </thead>
                <tbody class="bg_light">
                    <tr *ngFor="let officer of addressOfficers">
                        <td class="d-flex align-items-center">
                            <img [src]="officer.profilePicture" class="assign_icon">
                            <h5 class="fs-16 fw-500 mb-0 mx-0 ms-2">{{officer.firstName +" "+officer.lastName}}</h5>
                        </td>
                        <td class="fs-16 fw-500 text_small">{{officer.email}}</td>
                        <td class="fs-16 fw-500 text_small">{{officer.userName}}</td>
                        <td class="fs-16 fw-500 text_small">
                            <a class="view_all fs-12 fw-600 white p_16" data-bs-target="#VerificationOffice" (click)="reAssingRequest.officerId=officer.userId" 
                                data-bs-toggle="modal" >Assign</a>
                        </td>
                    </tr>
               
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="table-pagination">
                <p class="text_dark fs-16 fw-600">Showing {{pageManager.pageNumber*pageManager.pageSize+1}} to {{(pageManager.pageNumber*pageManager.pageSize)+pageManager.noOfCurrentPageElements}} of {{pageManager.totalElements}} entries</p>
                <ul class="pagination">
                    <li class="p-2  mx-2 ms-0 "><a class="fs-16 fw-500 secondary "  [ngClass]="pageManager.first?'theading ':' cur-point'"  (click)="manageNextPrev(false)">Previous</a></li>
                    <li class="page-item cur-point" *ngFor="let b of pageManager.showButtoons ;"  (click)="getOfficersPage(b-1)"><a class="page-link text_orange " [ngClass]="pageRequest.pageNo==b-1?'active':''" id="{{b}}" href="javascript:void(0)">{{b}}</a>
                    </li>
                    <!-- <li class="page-item "><a class="page-link" >2</a></li>
                    <li class="page-item "><a class="page-link" >3</a></li>
                    <li class="page-item "><a class="page-link" >4</a></li>
                    <li class="page-item "><a class="page-link" >5</a></li> -->
                    <li class="p-2  mx-0 ms-2"><a class="fs-16 fw-500 secondary"  [ngClass]="pageManager.last?'theading':' cur-point'"   (click)="manageNextPrev(true)">Next</a></li>
                </ul>
            </nav>
        </div>



    </div>
</div>

<!-- Verification Officer MODAL -->
<div class="modal fade" id="VerificationOffice" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
tabindex="-1">
<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header p-0 justify-content-center">
            <div class="mb-4">
                <h1 class="fs-22 fw-600 text_small mb_10 text-center" id="exampleModalToggleLabel2">Assign
                    Verification Officer</h1>
                <h3 class="fs-16 fw-400 info mb-0 text-center">The selected verification officer will be
                    assigned to this request for processing.</h3>
            </div>
        </div>

        <div class="modal-footer p-0 justify-content-center">
            <div class="gap_20 d-flex">
                <button class="btn_lg2  fs-16 fw-500" data-bs-dismiss="modal" aria-label="Close" id="close">No</button>
                <button class="btn_lg  fs-16 fw-500" (click)="reAssignOfficer()">Yes</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Verification Officer MODAL END -->