/* You can add global styles to this file, and also import other style files */

// to hide the eye icon from input tag type password
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.error-font {
    font-size: smaller;
}

.cur-point{
    cursor: pointer;
}

.marker-label {
    background-color: #2B417D;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: white !important;
    margin-bottom: 66px;
    margin-left: 55px;
  }

  .pac-container{
    z-index:99999 !important
  }

  .empty  h4{
    font-size: calc(1.275rem + 0.3vw) !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
        justify-content: center;
        color: #506296;;
}
.empty{
  justify-content: center !important;
}