<nav class="topnavbar d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <a routerLink="/verify" class="back_arrow mx_20 "><img src="assets/images/svg_img/back_arrow.svg"
                class="img-fluid"></a>
        <h4 class="primary mb-0 fs-26 fw-600">Notifications</h4>
    </div>
    <app-profile-bar></app-profile-bar>
</nav>
<div class="main_content p_36">
    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/profile.png" class="notification_profile">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">New Pending Verification Request</h4>
                        <h5 class="fs-13 fw-500 info">Hey Liam, a new verification request from Yash Jain is
                            pending your review.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/verify/request-details/0" class="view_all fs-12 fw-600 white">View Request</a>
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/notification-logo.png" class="notification_logo">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">Important Update from Admin</h4>
                        <h5 class="fs-13 fw-500 info">Dear Verification Officers, we want to inform you about an upcoming system maintenance scheduled for 30/08/2023 from 04:00 PM to 06:00 PM.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                       
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/profile.png" class="notification_profile">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">New Pending Verification Request</h4>
                        <h5 class="fs-13 fw-500 info">Hey Liam, a new verification request from Yash Jain is
                            pending your review.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/verify/request-details" class="view_all fs-12 fw-600 white">View Request</a>
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/notification-logo.png" class="notification_logo">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">Important Update from Admin</h4>
                        <h5 class="fs-13 fw-500 info">Dear Verification Officers, we want to inform you about an upcoming system maintenance scheduled for 30/08/2023 from 04:00 PM to 06:00 PM.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                       
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/profile.png" class="notification_profile">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">New Pending Verification Request</h4>
                        <h5 class="fs-13 fw-500 info">Hey Liam, a new verification request from Yash Jain is
                            pending your review.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/verify/request-details" class="view_all fs-12 fw-600 white">View Request</a>
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/notification-logo.png" class="notification_logo">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">Important Update from Admin</h4>
                        <h5 class="fs-13 fw-500 info">Dear Verification Officers, we want to inform you about an upcoming system maintenance scheduled for 30/08/2023 from 04:00 PM to 06:00 PM.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                       
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/profile.png" class="notification_profile">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">New Pending Verification Request</h4>
                        <h5 class="fs-13 fw-500 info">Hey Liam, a new verification request from Yash Jain is
                            pending your review.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/verify/request-details" class="view_all fs-12 fw-600 white">View Request</a>
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/notification-logo.png" class="notification_logo">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">Important Update from Admin</h4>
                        <h5 class="fs-13 fw-500 info">Dear Verification Officers, we want to inform you about an upcoming system maintenance scheduled for 30/08/2023 from 04:00 PM to 06:00 PM.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                       
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/profile.png" class="notification_profile">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">New Pending Verification Request</h4>
                        <h5 class="fs-13 fw-500 info">Hey Liam, a new verification request from Yash Jain is
                            pending your review.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/verify/request-details" class="view_all fs-12 fw-600 white">View Request</a>
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="notification_card">
                <div class="notificartion_details mb-3">
                    <img src="assets/images/temp_img/notification-logo.png" class="notification_logo">
                    <div>
                        <h4 class="fs-15 fw-600 text_small mb-1">Important Update from Admin</h4>
                        <h5 class="fs-13 fw-500 info">Dear Verification Officers, we want to inform you about an upcoming system maintenance scheduled for 30/08/2023 from 04:00 PM to 06:00 PM.</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="date_btn fs-14 fw-500 info">On 30/08/2023</button>
                    <div class="d-flex justify-content-end">
                       
                        <div class="delete_icon d-flex justify-content-center align-items-center"
                            data-bs-target="#delete-modal" data-bs-toggle="modal">
                            <img src="assets/images/svg_img/delete.svg" height="16" width="16">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>